html {
  height: 100%;
}

body {
  background: violet url('../public/svg/bg.svg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: gainsboro;
  text-decoration: none;
}
